p {
  color: white;
}
.credits-container {
  position: fixed; /* Fixes the position to the viewport */
  bottom: 0; /* Aligns to the bottom */
  left: 0; /* Aligns to the left */
  right: 0; /* Aligns to the right */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Add a background for visibility */
  color: white; /* Text color */
  text-align: center; /* Center text */
  padding: 10px; /* Padding for spacing */
  z-index: 1000; /* Ensure it stays above other elements */
}
