.App {
  background-image: url("/src/assets/backdrop.jpg"); /* Ensure this is correct */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; /* Changed from height to min-height */
  display: flex;
  flex-direction: column; /* Changed to column to stack elements */
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1; /* Ensures that the container takes available space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove any padding */
  margin: 0;
}
